*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    outline: none;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.hidden{
    display: none !important;
}


header{
    background: $deep-blue;
    position: relative;
}

footer{
    background: $deep-blue;
    position: relative;
}

.center-wrap{
    width: 100%;
    padding: 20px;

    @include bp($medium-screen){
        width: 1024px;
        margin: 0 auto;
    }

    @include bp($large-screen){
        width: 1440px;
        margin: 0 auto;
    }
}