*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    outline: none;
}

header{
    background: $deep-blue;
    position: relative;
}

footer{
    background: $deep-blue;
    position: relative;
}

.center-wrap{
    width: 1360px;
    margin: 0 auto;
    padding: 20px;
}