.widget-textbox-container{
    label.widget-textbox-fieldLabel{
        width: 160px;
        height: 38px;
        padding: 0 5px; 
        display: inline-block;
        line-height: 38px;
        cursor: pointer;

        &:focus{
            font-weight: bold;
        }
    }

    input.widget-textbox-input{
        width: 160px;
        height: 38px;
        padding: 0 5px;
        display: inline-block;
        border-radius: 5px;
        border: 1px solid $fac-grey-999;
        line-height: 38px;

        &:focus{
            border: 1px solid $fac-blue;
        }
    }

    span.widget-textbox-desc{
        width: 160px;
        height: 38px;
        padding: 0 5px;
        display: inline-block;
        line-height: 38px;
        color: $fac-grey-069;
    }

    span.widget-textbox-error{
        width: 160px;
        height: 38px;
        padding: 0 5px;
        display: inline-block;
        line-height: 38px;
        color: $fac-red-error;
    }
}