.xxs{
    width: 40px !important;
}

.xs{
    width: 80px !important;
}

.s{
    width: 120px !important;
}

.m{
    width: 160px !important;
}

.l{
    width: 200px !important;
}

.xl{
    width: 240px !important;
}

.xxl{
    width: 280px !important;
}